<div class="p-4">
    <!-- Auth Service State -->
    <div class="p-card p-4 mb-4">
        <h3 class="text-xl font-bold mb-2">Auth Service</h3>
        <div>
            <h4 class="font-semibold">Is Authenticated</h4>
            <pre class="bg-gray-100 p-2 rounded-md"><code>{{ authService.isAuthenticated$ | async }}</code></pre>
        </div>
        <div class="mt-2">
            <h4 class="font-semibold">User Profile</h4>
            <pre class="bg-gray-100 p-2 rounded-md max-h-60 overflow-auto"><code>{{ (authService.userProfile$ | async) | json }}</code></pre>
        </div>
    </div>

    <!-- System Service State -->
    <div class="p-card p-4 mb-4">
        <h3 class="text-xl font-bold mb-2">Environment Service</h3>
        <div class="mt-2">
            <h4 class="font-semibold">Configuration</h4>
            <pre class="bg-gray-100 p-2 rounded-md max-h-60 overflow-auto"><code>{{ (environmentService.environment$ | async) | json }}</code></pre>
        </div>
    </div>

    <!-- Layout Service State -->
    <div class="p-card p-4 mb-4">
        <h3 class="text-xl font-bold mb-2">Layout Service</h3>
        <div>
            <h4 class="font-semibold">Layout Config</h4>
            <pre class="bg-gray-100 p-2 rounded-md max-h-60 overflow-auto"><code>{{ layoutService.layoutConfig() | json }}</code></pre>
        </div>
        <div class="mt-2">
            <h4 class="font-semibold">Layout State</h4>
            <pre class="bg-gray-100 p-2 rounded-md max-h-60 overflow-auto"><code>{{ layoutService.layoutState() | json }}</code></pre>
        </div>
    </div>
</div>
