@syrius:registry=http://swwnexusp0:18081/nexus/repository/sps-npm-hosted/

# Fallback to public npm registry for other packages
registry=https://registry.npmjs.org/

# Pin pnpm config to match lockfile and CI
exclude-links-from-lockfile=false
