<div class="card">
    <div class="p-4">
        <p-tabs value="0">
            <p-tablist>
                <p-tab value="0">Component Testing</p-tab>
                <p-tab value="1">Stored Data</p-tab>
                <p-tab value="2">Reference Docs</p-tab>
                <p-tab value="3">Translation Manager</p-tab>
                <p-tab value="4">Keycloak Info</p-tab>
                <p-tab value="5">API Inspector</p-tab>
                <p-tab value="6">State Viewer</p-tab>
                <p-tab value="7">Role Management</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <app-component-testing></app-component-testing>
                </p-tabpanel>
                <p-tabpanel value="1">
                    <app-stored-data></app-stored-data>
                </p-tabpanel>
                <p-tabpanel value="2">
                    <app-reference-docs></app-reference-docs>
                </p-tabpanel>
                <p-tabpanel value="3">
                    <app-translation-manager></app-translation-manager>
                </p-tabpanel>
                <p-tabpanel value="4">
                    <app-keycloak-info></app-keycloak-info>
                </p-tabpanel>
                <p-tabpanel value="5">
                    <app-api-inspector></app-api-inspector>
                </p-tabpanel>
                <p-tabpanel value="6">
                    <app-state-viewer></app-state-viewer>
                </p-tabpanel>
                <p-tabpanel value="7">
                    <app-role-simulator></app-role-simulator>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </div>
</div>
