.layout-main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 100vh;
    justify-content: space-between;
    padding: 6rem 2rem 0 2rem;
    transition: margin-left var(--layout-section-transition-duration);
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
}

// Adjust main container padding when static menu has no margins
.layout-wrapper.layout-static-nomargin .layout-main-container {
    padding: 4rem 2rem 0 20rem; // Top: actual topbar height (4rem), Left: sidebar width (20rem)
}

// Adjust main container properties when static menu has no margins
.layout-wrapper.layout-static.layout-static-nomargin .layout-main-container {
    margin-left: 20rem; // Account for the 20rem wide sidebar at left: 0
    padding: calc(var(--topbar-height) + 1rem) 2rem 0 2rem; // Increased top padding further
}

// Adjust main container properties for overlay menu mode
.layout-wrapper.layout-overlay .layout-main-container {
    padding: calc(var(--topbar-height) + 1rem) 2rem 2rem 2rem; // Increased top padding further
    margin-left: 0;
}

.layout-horizontal .layout-main-container {
    padding: 1rem 2rem 0 2rem; // Adjusted top padding to a standard value, assuming menu is in flow
    z-index: 1;
}
