<div *ngIf="isActive && currentStep" class="onboarding-wrapper">
    <div *ngIf="currentStep.showOverlay !== false" class="onboarding-overlay" (click)="next()" (keydown.enter)="next()" tabindex="0"></div>

    <!-- Highlight Box (if targetElementSelector is provided) -->
    <div
        *ngIf="highlightedElementRect && currentStep.targetElementSelector"
        class="onboarding-highlight-box"
        [style.top.px]="highlightedElementRect.top - (currentStep.highlightPadding || 5)"
        [style.left.px]="highlightedElementRect.left - (currentStep.highlightPadding || 5)"
        [style.width.px]="highlightedElementRect.width + 2 * (currentStep.highlightPadding || 5)"
        [style.height.px]="highlightedElementRect.height + 2 * (currentStep.highlightPadding || 5)"
    ></div>

    <!-- Description Box -->
    <div
        class="onboarding-description-box card p-shadow-4"
        [style.top]="descriptionBoxPosition.top"
        [style.left]="descriptionBoxPosition.left"
        [style.bottom]="descriptionBoxPosition.bottom"
        [style.right]="descriptionBoxPosition.right"
        [style.transform]="descriptionBoxPosition.transform"
    >
        <div>
            <h5>{{ stepTitle }}</h5>
        </div>
        <div class="p-card-content">
            <p [innerHTML]="stepDescription | safeHtml" class=""></p>
        </div>

        <p-divider />

        <div>
            <div class="flex justify-content-between align-items-center">
                <p-button [disabled]="onboardingService.state.value.currentStepIndex === 0" [label]="'onboarding.buttons.previous' | translate" icon="pi pi-angle-left" class="p-button-text p-button-sm" (click)="onboardingService.previousStep()">
                </p-button>

                <div class="mx-2">
                    <p>{{ onboardingService.state.value.currentStepIndex + 1 }} / {{ onboardingService.steps.length }}</p>
                </div>

                <div class_="flex gap-2">
                    <p-button
                        [label]="onboardingService.state.value.currentStepIndex < onboardingService.steps.length - 1 ? ('onboarding.buttons.next' | translate) : ('onboarding.buttons.finish' | translate)"
                        [icon]="onboardingService.state.value.currentStepIndex < onboardingService.steps.length - 1 ? 'pi pi-angle-right' : 'pi pi-check'"
                        iconPos="right"
                        class="p-button-sm"
                        (click)="next()"
                    >
                    </p-button>
                    <p-button *ngIf="onboardingService.state.value.currentStepIndex < onboardingService.steps.length - 1" [label]="'onboarding.buttons.skip' | translate" class="p-button-text p-button-sm p-button-danger ml-2" (click)="skip()">
                    </p-button>
                </div>
            </div>
        </div>
    </div>
</div>
