<p-card [header]="'menu.fuv.searchOfferte' | translate" class="mb-5">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <p-panel [header]="'common.search.searchCriteria' | translate" [toggleable]="true" [(collapsed)]="searchCriteriaCollapsed">
            <div class="flex flex-col md:flex-row md:flex-wrap gap-3 mb-4">
                <div class="flex flex-col flex-1">
                    <label for="offertenr">{{ 'common.police.offertenr' | translate }}</label>
                    <input pInputText id="offertenr" type="text" formControlName="offertenr" autocomplete="off" [ngClass]="{ 'p-invalid border-red-500': isFieldInvalid('offertenr') }" />
                </div>

                <div class="flex flex-col flex-1">
                    <label for="betrieb_partnernr">{{ 'common.partner.partnernr' | translate }} {{ 'common.partner.betrieb' | translate }}</label>
                    <input pInputText id="betrieb_partnernr" type="text" formControlName="betrieb_partnernr" autocomplete="off" [ngClass]="{ 'p-invalid border-red-500': isFieldInvalid('betrieb_partnernr') }" />
                </div>

                <div class="flex flex-col flex-1">
                    <label for="person_partnernr">{{ 'common.partner.partnernr' | translate }} {{ 'common.partner.person' | translate }}</label>
                    <input pInputText id="person_partnernr" type="text" formControlName="person_partnernr" autocomplete="off" [ngClass]="{ 'p-invalid border-red-500': isFieldInvalid('person_partnernr') }" />
                </div>
            </div>

            <div *ngIf="submitted && searchForm.errors?.['atLeastOneFieldRequired']" class="text-red-500 mb-2">
                {{ getValidationErrorMessage() }}
            </div>

            <div class="flex gap-2 mt-4">
                <button pButton type="submit" [label]="'common.search.title' | translate" icon="pi pi-search"></button>
                <button pButton type="button" [label]="'common.search.recent' | translate" icon="pi pi-history" (click)="recentSearchesPopover.toggle($event)"></button>
                <button pButton type="button" [label]="'common.search.reset' | translate" icon="pi pi-filter-slash" class="p-button-outlined" (click)="resetForm()"></button>

                <p-popover #recentSearchesPopover>
                    <ng-template pTemplate="content">
                        <div *ngIf="recentSearches.length > 0; else noRecentSearches">
                            <ul class="list-none p-0 m-0">
                                <li
                                    *ngFor="let search of recentSearches"
                                    class="p-2 hover:bg-gray-100 cursor-pointer flex align-items-center gap-2 group"
                                    style="display: flex"
                                    tabindex="0"
                                    (click)="onRecentSearchSelect(search); recentSearchesPopover.hide()"
                                    (keydown.enter)="onRecentSearchSelect(search); recentSearchesPopover.hide()"
                                >
                                    <span style="flex: 1">{{ search.offertenr }}</span>
                                    <i class="pi pi-times cursor-pointer opacity-0 group-hover:opacity-100 transition-opacity" style="font-size: 1rem; color: #6c757d" (click)="removeRecentSearch(search, $event)" pTooltip="Eintrag entfernen"></i>
                                </li>
                            </ul>
                            <button pButton type="button" [label]="'common.search.clearHistory' | translate" icon="pi pi-trash" class="p-button-text mt-2" (click)="clearRecentSearches()"></button>
                        </div>

                        <ng-template #noRecentSearches>
                            <div class="p-2">{{ 'common.search.noRecentSearches' | translate }}</div>
                        </ng-template>
                    </ng-template>
                </p-popover>
            </div>
        </p-panel>
    </form>

    <div *ngIf="searchStarted && searchForm.valid" class="mt-4">
        <syr-data-table-panel [panelHeader]="'common.search.results' | translate" [panelToggleable]="true" [data]="searchResults" [columnDefs]="columnDefs" [config]="tableConfig" [loading]="loading" (rowSelected)="onOfferteSelect($event)">
        </syr-data-table-panel>
    </div>
</p-card>
